/* styles.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Search Section */
.container h1 {
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    max-width: 600px;
    margin: 0 auto;
}

/* Results Section */
#resultsGrid {
    margin-top: 30px;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Footer */
footer {
    background-color: #222;
    color: #aaa;
}
